 <div class="box-area">
<header>
  <div class="wrapper">
    <div class="logo">
      <a href="#">Gryffin.blog!</a>
    </div>
    <nav>
      <a href="../newBlog">Write blog</a>
    </nav>
  </div>
  