*{
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  background-color: #740001;
}

body {
margin-top: 100px;
}

header {
  height: 100px;
  top: 0px;
  background-color: #740001;
  width: 100%;
  z-index: 12;
  position: fixed;
}

.logo {
  margin-left: 6%;
  float: left;
  line-height: 100px;
}

.logo a {
  font-size: 30px;
  font-family: "magic_school_oneregular";
  font-weight: 400;
  color: #eeba30;
}

nav {
  float: right;
  line-height: 100px;
  padding-right: 10%;
}

nav a {
  font-family: "Grenze Gotisch", "Kumbh Sans";
  font-size: 22px;
  color: #eeba30;
}

@font-face {
  font-family: 'magic_school_oneregular';
  src: url('magicschoolone-webfont.woff2') format('woff2'),
       url('magicschoolone-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
.img {
  width: 100px
}
/* @font-face {
  font-family: "Magic-school";
  src: url("CustomFont.eot");
  src: url("CustomFont.woff") format("woff"),
  url("CustomFont.otf") format("opentype"),
  url("CustomFont.svg#filename") format("svg");
  } */
